## Ejemplo 2: Consultas a la base de datos y construcción de `DataFrames`

### 1. Objetivos:
    - Realizar consultas a la base de datos y construir un `DataFrame` para cada tabla.
 
---
    
### 2. Desarrollo:

#### a) Tablas a `DataFrames`

In [1]:
import pandas as pd
import sqlite3

Realizamos la conexión y obtenemos nuestro índice (cursor) para poder realizar operaciones con la base de datos:

In [2]:
bd = "movielens.sqlite3"
conn = sqlite3.connect(bd)
cur = conn.cursor()

cur

Ahora vamos a obtener la lista de todos los registros de la tabla `users` usando la función `execute(-sql-)` y la instrucción SQL:

`SELECT * FROM users`

In [3]:
sql = 'SELECT * FROM users'

Ahora hay que obtener todos los resultados de la consulta con:
    
`mi_cursor.fetchall()`

In [4]:
cursor = cur.execute(sql)

cursor

Si recuerdas el último ejemplo, `fetchall` nos regresa una `lista` de `tuplas`. Cada `tupla` representa una fila de nuestro conjunto de datos, por ejemplo obtén el primer registro se podría obtener como:

In [5]:
resultados = cursor.fetchall()
resultados

[(1, 'F', 1, 10, '48067'),
 (2, 'M', 56, 16, '70072'),
 (3, 'M', 25, 15, '55117'),
 (4, 'M', 45, 7, '02460'),
 (5, 'M', 25, 20, '55455'),
 (6, 'F', 50, 9, '55117'),
 (7, 'M', 35, 1, '06810'),
 (8, 'M', 25, 12, '11413'),
 (9, 'M', 25, 17, '61614'),
 (10, 'F', 35, 1, '95370'),
 (11, 'F', 25, 1, '04093'),
 (12, 'M', 25, 12, '32793'),
 (13, 'M', 45, 1, '93304'),
 (14, 'M', 35, 0, '60126'),
 (15, 'M', 25, 7, '22903'),
 (16, 'F', 35, 0, '20670'),
 (17, 'M', 50, 1, '95350'),
 (18, 'F', 18, 3, '95825'),
 (19, 'M', 1, 10, '48073'),
 (20, 'M', 25, 14, '55113'),
 (21, 'M', 18, 16, '99353'),
 (22, 'M', 18, 15, '53706'),
 (23, 'M', 35, 0, '90049'),
 (24, 'F', 25, 7, '10023'),
 (25, 'M', 18, 4, '01609'),
 (26, 'M', 25, 7, '23112'),
 (27, 'M', 25, 11, '19130'),
 (28, 'F', 25, 1, '14607'),
 (29, 'M', 35, 7, '33407'),
 (30, 'F', 35, 7, '19143'),
 (31, 'M', 56, 7, '06840'),
 (32, 'F', 25, 0, '19355'),
 (33, 'M', 45, 3, '55421'),
 (34, 'F', 18, 0, '02135'),
 (35, 'M', 45, 1, '02482'),
 (36, 'M', 25, 3, '94123'),
 (37, 'F', 25, 9, '66212'),
 (38, 'F', 18, 4, '02215'),
 (39, 'M', 18, 4, '61820'),
 (40, 'M', 45, 0, '10543'),
 (41, 'F', 18, 4, '15116'),
 (42, 'M', 25, 8, '24502'),
 (43, 'M', 25, 12, '60614'),
 (44, 'M', 45, 17, '98052'),
 (45, 'F', 45, 16, '94110'),
 (46, 'M', 18, 19, '75602'),
 (47, 'M', 18, 4, '94305'),
 (48, 'M', 25, 4, '92107'),
 (49, 'M', 18, 12, '77084'),
 (50, 'F', 25, 2, '98133'),
 (51, 'F', 1, 10, '10562'),
 (52, 'M', 18, 4, '72212'),
 (53, 'M', 25, 0, '96931'),
 (54, 'M', 50, 1, '56723'),
 (55, 'F', 35, 12, '55303'),
 (56, 'M', 35, 20, '60440'),
 (57, 'M', 18, 19, '30350'),
 (58, 'M', 25, 2, '30303'),
 (59, 'F', 50, 1, '55413'),
 (60, 'M', 50, 1, '72118'),
 (61, 'M', 25, 17, '95122'),
 (62, 'F', 35, 3, '98105'),
 (63, 'M', 18, 4, '54902'),
 (64, 'M', 18, 1, '53706'),
 (65, 'M', 35, 12, '55803'),
 (66, 'M', 25, 18, '57706'),
 (67, 'F', 50, 5, '60181'),
 (68, 'M', 18, 4, '53706'),
 (69, 'F', 25, 1, '02143'),
 (70, 'M', 18, 4, '53703'),
 (71, 'M', 25, 14, '95008'),
 (72, 'F', 45, 0, '55122'),
 (73, 'M', 18, 4, '53706'),
 (74, 'M', 35, 14, '94530'),
 (75, 'F', 1, 10, '01748'),
 (76, 'M', 35, 7, '55413'),
 (77, 'M', 18, 4, '15321'),
 (78, 'F', 45, 1, '98029'),
 (79, 'F', 45, 0, '98103'),
 (80, 'M', 56, 1, '49327'),
 (81, 'F', 25, 0, '60640'),
 (82, 'M', 25, 17, '48380'),
 (83, 'F', 25, 2, '94609'),
 (84, 'M', 18, 4, '53140'),
 (85, 'M', 18, 4, '94945'),
 (86, 'F', 1, 10, '54467'),
 (87, 'M', 25, 14, '48360'),
 (88, 'F', 45, 1, '02476'),
 (89, 'F', 56, 9, '85749'),
 (90, 'M', 56, 13, '85749'),
 (91, 'M', 35, 7, '07650'),
 (92, 'F', 18, 4, '44243'),
 (93, 'M', 25, 17, '95825'),
 (94, 'M', 25, 17, '28601'),
 (95, 'M', 45, 0, '98201'),
 (96, 'F', 25, 16, '78028'),
 (97, 'F', 35, 3, '66210'),
 (98, 'F', 35, 7, '33547'),
 (99, 'F', 1, 10, '19390'),
 (100, 'M', 35, 17, '95401'),
 (101, 'F', 18, 3, '33314'),
 (102, 'M', 35, 19, '20871'),
 (103, 'M', 45, 7, '92104'),
 (104, 'M', 25, 12, '00926'),
 (105, 'M', 45, 12, '90277'),
 (106, 'F', 35, 11, '79101'),
 (107, 'M', 45, 18, '63129'),
 (108, 'M', 25, 12, '30316'),
 (109, 'M', 45, 15, '92028'),
 (110, 'M', 25, 2, '90803'),
 (111, 'M', 35, 15, '55416'),
 (112, 'M', 25, 16, '97209'),
 (113, 'M', 18, 12, '37032'),
 (114, 'F', 25, 2, '83712'),
 (115, 'M', 25, 17, '28083'),
 (116, 'M', 25, 17, '55744'),
 (117, 'M', 25, 17, '33314'),
 (118, 'M', 35, 17, '22315'),
 (119, 'F', 1, 10, '77515'),
 (120, 'M', 25, 11, '27106'),
 (121, 'M', 35, 7, '75229'),
 (122, 'F', 18, 4, '94305'),
 (123, 'M', 35, 9, '67208'),
 (124, 'M', 56, 7, '91356'),
 (125, 'M', 45, 14, '01701'),
 (126, 'M', 18, 9, '98117'),
 (127, 'F', 45, 3, '01770'),
 (128, 'M', 56, 6, '37922'),
 (129, 'M', 25, 11, '20164'),
 (130, 'M', 35, 17, '50021'),
 (131, 'M', 18, 4, '06520'),
 (132, 'M', 25, 17, '99709'),
 (133, 'F', 25, 0, '55071'),
 (134, 'M', 25, 0, '66212'),
 (135, 'M', 18, 4, '20006'),
 (136, 'M', 18, 2, '21202'),
 (137, 'F', 45, 6, '78758'),
 (138, 'M', 18, 20, '22203'),
 (139, 'F', 25, 20, '45409'),
 (140, 'F', 35, 1, '55107'),
 (141, 'M', 35, 13, '62035'),
 (142, 'M', 25, 7, '10011'),
 (143, 'M', 18, 3, '64043'),
 (144, 'M', 25, 17, '29401'),
 (145, 'M', 18, 4, '19081'),
 (146, 'F', 35, 20, '10954'),
 (147, 'M', 18, 4, '91360'),
 (148, 'M', 50, 17, '57747'),
 (149, 'M', 25, 1, '29205'),
 (150, 'M', 35, 7, '98144'),
 (151, 'F', 25, 20, '85013'),
 (152, 'M', 18, 4, '48104'),
 (153, 'M', 1, 10, '51537'),
 (154, 'M', 50, 20, '94530'),
 (155, 'M', 35, 12, '07470'),
 (156, 'F', 45, 7, '14519'),
 (157, 'M', 35, 16, '12866'),
 (158, 'M', 56, 7, '28754'),
 (159, 'F', 45, 0, '37922'),
 (160, 'M', 35, 7, '13021'),
 (161, 'M', 45, 16, '98107-2117'),
 (162, 'F', 18, 4, '93117'),
 (163, 'M', 18, 4, '85013'),
 (164, 'F', 56, 13, '94566'),
 (165, 'M', 18, 16, '98502'),
 (166, 'M', 18, 4, '92802'),
 (167, 'F', 25, 11, '10022'),
 (168, 'F', 50, 0, '46970'),
 (169, 'M', 25, 7, '55439'),
 (170, 'M', 25, 11, '07002'),
 (171, 'F', 50, 17, '55441'),
 (172, 'M', 25, 3, '07661'),
 (173, 'M', 25, 0, '45237'),
 (174, 'M', 25, 16, '21203'),
 (175, 'F', 25, 2, '95123'),
 (176, 'F', 18, 3, '55016'),
 (177, 'M', 50, 1, '54016'),
 (178, 'M', 56, 17, '53705'),
 (179, 'M', 25, 0, '02135'),
 (180, 'M', 45, 12, '01603'),
 (181, 'M', 18, 17, '33186'),
 (182, 'M', 18, 4, '03052'),
 (183, 'F', 45, 1, '55407'),
 (184, 'F', 25, 0, '19001'),
 (185, 'M', 45, 0, '14468'),
 (186, 'M', 18, 5, '91767'),
 (187, 'F', 45, 1, '94061'),
 (188, 'M', 56, 16, '79930'),
 (189, 'M', 18, 0, '60076'),
 (190, 'M', 25, 17, '55125'),
 (191, 'M', 18, 4, '04915'),
 (192, 'M', 18, 1, '10977'),
 (193, 'F', 45, 15, '44106'),
 (194, 'F', 1, 10, '29146'),
 (195, 'M', 25, 12, '10458'),
 (196, 'F', 35, 9, '94587'),
 (197, 'M', 18, 14, '10023'),
 (198, 'M', 25, 12, '55108'),
 (199, 'M', 18, 4, '83706'),
 (200, 'F', 18, 4, '84321'),
 (201, 'F', 35, 2, '55117'),
 (202, 'M', 18, 4, '53706'),
 (203, 'F', 18, 4, '53715'),
 (204, 'M', 25, 7, '92123'),
 (205, 'M', 35, 12, '97333'),
 (206, 'M', 25, 17, '20194'),
 (207, 'M', 25, 12, '94115'),
 (208, 'M', 35, 17, '55432'),
 (209, 'M', 35, 1, '90048'),
 (210, 'F', 1, 10, '25801'),
 (211, 'M', 45, 17, '90620'),
 (212, 'M', 25, 16, '53714'),
 (213, 'F', 18, 4, '01609'),
 (214, 'M', 18, 20, '80218'),
 (215, 'M', 35, 14, '92075'),
 (216, 'M', 45, 13, '52761'),
 (217, 'M', 18, 4, '22903'),
 (218, 'M', 35, 14, '95822'),
 (219, 'F', 25, 4, '55113'),
 (220, 'M', 25, 12, '22903'),
 (221, 'F', 25, 0, '94063'),
 (222, 'M', 25, 1, '55116'),
 (223, 'M', 25, 17, '28262'),
 (224, 'F', 18, 4, '14850'),
 (225, 'M', 25, 7, '11215'),
 (226, 'M', 35, 1, '94518'),
 (227, 'M', 35, 20, '90291'),
 (228, 'M', 25, 15, '55455'),
 (229, 'M', 18, 10, '04576'),
 (230, 'M', 45, 1, '43210'),
 (231, 'M', 25, 3, '55455'),
 (232, 'M', 25, 20, '55408'),
 (233, 'F', 45, 20, '37919-4204'),
 (234, 'M', 35, 7, '39652'),
 (235, 'M', 25, 0, '98153'),
 (236, 'M', 25, 5, '55126'),
 (237, 'M', 25, 6, '46835'),
 (238, 'F', 50, 7, '90291'),
 (239, 'M', 18, 19, '94618'),
 (240, 'M', 50, 17, '55113'),
 (241, 'M', 35, 20, '55121'),
 (242, 'F', 18, 4, '53706'),
 (243, 'M', 25, 16, '11576'),
 (244, 'M', 50, 7, '19072'),
 (245, 'M', 35, 16, '66046'),
 (246, 'F', 18, 4, '60625'),
 (247, 'M', 25, 17, '94404'),
 (248, 'M', 18, 17, '72703'),
 (249, 'F', 18, 14, '48126'),
 (250, 'M', 35, 16, '11229'),
 (251, 'M', 56, 17, '55105'),
 (252, 'M', 25, 12, '94112'),
 (253, 'F', 25, 11, '97370'),
 (254, 'M', 35, 17, '49015'),
 (255, 'M', 35, 0, '85310'),
 (256, 'M', 45, 16, '55076'),
 (257, 'M', 18, 18, '55113'),
 (258, 'M', 25, 7, '55436'),
 (259, 'M', 25, 1, '60615'),
 (260, 'M', 18, 19, '98126'),
 (261, 'M', 25, 20, '75801'),
 (262, 'F', 25, 1, '68503'),
 (263, 'F', 25, 7, '22304'),
 (264, 'M', 35, 0, '20755'),
 (265, 'F', 35, 7, '55116'),
 (266, 'M', 35, 11, '75229'),
 (267, 'M', 45, 12, '55001'),
 (268, 'F', 18, 12, '29708'),
 (269, 'M', 25, 2, '55408'),
 (270, 'M', 50, 14, '55414'),
 (271, 'M', 18, 4, '48202'),
 (272, 'M', 18, 0, '80302'),
 (273, 'M', 18, 4, '55427'),
 (274, 'M', 18, 4, '55455'),
 (275, 'M', 25, 0, '48162'),
 (276, 'M', 45, 16, '01982'),
 (277, 'F', 35, 1, '98126'),
 (278, 'M', 45, 18, '60482'),
 (279, 'M', 25, 14, '91214'),
 (280, 'M', 50, 7, '19118'),
 (281, 'F', 35, 0, '94117'),
 (282, 'M', 25, 17, '94401'),
 (283, 'M', 25, 0, '10003'),
 (284, 'M', 25, 12, '91910'),
 (285, 'F', 35, 0, '94109'),
 (286, 'M', 25, 1, '54601'),
 (287, 'M', 50, 13, '94706'),
 (288, 'F', 25, 12, '97119'),
 (289, 'F', 25, 0, '11801'),
 (290, 'F', 25, 20, '94591'),
 (291, 'M', 35, 12, '55110'),
 (292, 'M', 35, 7, '19406'),
 (293, 'M', 56, 1, '55337-4056'),
 (294, 'F', 45, 9, '43147'),
 (295, 'M', 18, 0, '80203'),
 (296, 'M', 50, 5, '89432'),
 (297, 'M', 18, 2, '97211'),
 (298, 'F', 18, 4, '19010'),
 (299, 'M', 25, 12, '97370'),
 (300, 'M', 25, 7, '78664'),
 (301, 'M', 18, 4, '61820'),
 (302, 'M', 18, 4, '04901'),
 (303, 'M', 25, 7, '20006'),
 (304, 'M', 25, 0, '55414'),
 (305, 'F', 18, 0, '55414'),
 (306, 'M', 18, 0, '53051'),
 (307, 'M', 50, 16, '90027'),
 (308, 'M', 25, 2, '10025'),
 (309, 'M', 25, 4, '16801'),
 (310, 'F', 18, 4, '31207'),
 (311, 'M', 18, 4, '31201'),
 (312, 'F', 50, 2, '22207'),
 (313, 'F', 18, 4, '02138'),
 (314, 'F', 56, 9, '46911'),
 (315, 'F', 56, 1, '55105'),
 (316, 'M', 56, 13, '90740'),
 (317, 'M', 35, 7, '38555'),
 (318, 'F', 56, 13, '55104'),
 (319, 'F', 50, 6, '33436'),
 (320, 'M', 35, 6, '99516'),
 (321, 'M', 18, 4, '55128'),
 (322, 'M', 56, 17, '55117'),
 (323, 'M', 45, 12, '53716'),
 (324, 'M', 35, 17, '55106'),
 (325, 'F', 50, 3, '55112'),
 (326, 'M', 50, 11, '25302'),
 (327, 'M', 35, 18, '55448'),
 (328, 'M', 35, 12, '80401'),
 (329, 'M', 35, 7, '02115'),
 (330, 'M', 56, 7, '92065'),
 (331, 'M', 25, 7, '55902'),
 (332, 'M', 50, 1, '55109'),
 (333, 'M', 35, 2, '55410'),
 (334, 'F', 56, 2, '55113'),
 (335, 'M', 35, 18, '55434'),
 (336, 'M', 18, 0, '98765'),
 (337, 'M', 18, 19, '80205'),
 (338, 'M', 35, 7, '55116'),
 (339, 'M', 50, 7, '80207'),
 (340, 'F', 25, 3, '28001'),
 (341, 'F', 56, 13, '92119'),
 (342, 'M', 18, 12, '55076'),
 (343, 'F', 35, 3, '55127'),
 (344, 'M', 35, 14, '75034'),
 (345, 'M', 25, 12, '94114'),
 (346, 'F', 25, 0, '55110'),
 (347, 'F', 56, 1, '55305'),
 (348, 'M', 50, 7, '55110'),
 (349, 'M', 1, 10, '08035'),
 (350, 'M', 45, 20, '08035'),
 (351, 'M', 18, 4, '55105'),
 (352, 'M', 18, 4, '60115'),
 (353, 'F', 35, 7, '92625'),
 (354, 'M', 35, 1, '55117'),
 (355, 'M', 18, 3, '55107'),
 (356, 'M', 56, 20, '55101'),
 (357, 'M', 18, 0, '98103'),
 (358, 'F', 56, 1, '20815'),
 (359, 'M', 25, 17, '55128'),
 (360, 'M', 35, 17, '28208'),
 (361, 'F', 25, 14, '94115'),
 (362, 'M', 35, 20, '55407'),
 (363, 'M', 18, 10, '55419'),
 (364, 'F', 35, 1, '46815'),
 (365, 'F', 18, 4, '02138'),
 (366, 'M', 50, 15, '55126'),
 (367, 'M', 50, 12, '55421'),
 (368, 'M', 25, 0, '90293'),
 (369, 'M', 35, 1, '55110'),
 (370, 'M', 18, 17, '22304'),
 (371, 'M', 18, 4, '02141'),
 (372, 'F', 18, 4, '72227'),
 (373, 'F', 25, 2, '55347'),
 (374, 'F', 35, 14, '55346'),
 (375, 'M', 25, 2, '55106'),
 (376, 'M', 35, 1, '80026'),
 (377, 'M', 25, 17, '55418'),
 (378, 'F', 18, 0, '55105'),
 (379, 'F', 35, 1, '54822'),
 (380, 'M', 25, 2, '92024'),
 (381, 'M', 35, 17, '89015'),
 (382, 'F', 35, 20, '66205'),
 (383, 'F', 25, 7, '78757'),
 (384, 'M', 25, 11, '55075'),
 (385, 'M', 25, 6, '68131'),
 (386, 'M', 25, 0, '55408'),
 (387, 'F', 35, 7, '55111'),
 (388, 'F', 25, 0, '10021'),
 (389, 'M', 25, 6, '68128'),
 (390, 'M', 25, 4, '55405'),
 (391, 'M', 45, 11, '22122'),
 (392, 'M', 18, 7, '20037'),
 (393, 'M', 35, 17, '55402'),
 (394, 'M', 18, 0, '55013'),
 (395, 'M', 18, 5, '55104'),
 (396, 'M', 25, 1, '56187'),
 (397, 'M', 35, 17, '22124'),
 (398, 'M', 25, 17, '55454'),
 (399, 'F', 35, 6, '55128'),
 (400, 'F', 18, 3, '55422'),
 (401, 'M', 18, 0, '55129'),
 (402, 'M', 25, 11, '55427'),
 (403, 'M', 18, 4, '02138'),
 (404, 'M', 18, 4, '10128'),
 (405, 'M', 56, 1, '13077'),
 (406, 'M', 25, 20, '55105'),
 (407, 'M', 18, 17, '89503'),
 (408, 'M', 25, 11, '02143'),
 (409, 'M', 18, 12, '55122'),
 (410, 'F', 25, 1, '55417'),
 (411, 'F', 45, 1, '43214'),
 (412, 'M', 35, 15, '55117'),
 (413, 'M', 25, 11, '55409'),
 (414, 'M', 25, 0, '55317'),
 (415, 'F', 35, 0, '55406'),
 (416, 'M', 45, 14, '55076'),
 (417, 'F', 25, 0, '50613'),
 (418, 'F', 25, 3, '54016'),
 (419, 'M', 18, 3, '55422'),
 (420, 'M', 35, 1, '55406'),
 (421, 'F', 45, 3, '55125'),
 (422, 'M', 56, 17, '55104'),
 (423, 'M', 18, 4, '55455'),
 (424, 'M', 25, 17, '55112'),
 (425, 'M', 25, 12, '55303'),
 (426, 'M', 18, 4, '55455'),
 (427, 'M', 35, 12, '55104'),
 (428, 'F', 18, 4, '55455'),
 (429, 'M', 18, 0, '54901'),
 (430, 'F', 18, 10, '55306'),
 (431, 'M', 18, 10, '55303'),
 (432, 'M', 45, 16, '55306'),
 (433, 'M', 50, 6, '55115'),
 (434, 'F', 45, 3, '98155'),
 (435, 'M', 25, 7, '55125'),
 (436, 'M', 18, 4, '43023'),
 (437, 'M', 35, 17, '55030'),
 (438, 'M', 18, 11, '53705'),
 (439, 'M', 35, 14, '55129'),
 (440, 'M', 56, 1, '32940'),
 (441, 'M', 35, 1, '55127'),
 (442, 'M', 25, 1, '55105'),
 (443, 'M', 25, 3, '55421'),
 (444, 'M', 56, 0, '55108'),
 (445, 'M', 45, 12, '55117'),
 (446, 'F', 50, 0, '55042'),
 (447, 'F', 45, 11, '55105'),
 (448, 'M', 25, 17, '80123'),
 (449, 'M', 25, 7, '85037'),
 (450, 'M', 45, 1, '24523'),
 (451, 'M', 56, 13, '54720'),
 (452, 'M', 50, 17, '55117'),
 (453, 'M', 18, 4, '55102'),
 (454, 'M', 25, 20, '55092'),
 (455, 'F', 35, 2, '55113'),
 (456, 'M', 35, 0, '55105'),
 (457, 'M', 18, 4, '54703'),
 (458, 'M', 50, 16, '55405-2546'),
 (459, 'F', 18, 4, '55105'),
 (460, 'M', 45, 18, '55313'),
 (461, 'M', 50, 7, '55075'),
 (462, 'M', 18, 16, '55416'),
 (463, 'M', 25, 7, '55105'),
 (464, 'F', 18, 4, '55455'),
 (465, 'M', 18, 19, '94523'),
 (466, 'M', 25, 5, '55405'),
 (467, 'F', 35, 3, '55075'),
 (468, 'F', 1, 10, '55082'),
 (469, 'M', 35, 6, '55122'),
 (470, 'F', 1, 10, '55068'),
 (471, 'M', 35, 7, '08904'),
 (472, 'M', 35, 0, '55418'),
 (473, 'F', 18, 4, '55112'),
 (474, 'M', 25, 17, '92126'),
 (475, 'F', 25, 2, '55421'),
 (476, 'M', 35, 0, '55127'),
 (477, 'M', 35, 14, '55410'),
 (478, 'M', 50, 16, '55113'),
 (479, 'M', 25, 12, '55042'),
 (480, 'F', 18, 4, '55422'),
 (481, 'M', 45, 7, '55115'),
 (482, 'M', 25, 14, '55305'),
 (483, 'M', 18, 12, '55105'),
 (484, 'F', 1, 10, '55104'),
 (485, 'M', 56, 7, '55042'),
 (486, 'M', 56, 0, '91367'),
 (487, 'F', 35, 17, '55082'),
 (488, 'M', 25, 12, '55107'),
 (489, 'M', 18, 4, '55455'),
 (490, 'M', 1, 10, '55345'),
 (491, 'M', 18, 4, '56043'),
 (492, 'M', 25, 12, '55112'),
 (493, 'M', 50, 7, '55016'),
 (494, 'F', 35, 0, '17870'),
 (495, 'M', 18, 10, '55421'),
 (496, 'M', 18, 4, '55455'),
 (497, 'F', 25, 17, '55412'),
 (498, 'M', 35, 17, '55113'),
 (499, 'F', 25, 1, '55108'),
 (500, 'F', 18, 2, '55105'),
 (501, 'M', 25, 2, '55372'),
 (502, 'M', 35, 6, '55126'),
 (503, 'M', 35, 11, '73120'),
 (504, 'M', 25, 2, '17003'),
 (505, 'M', 35, 17, '37815'),
 (506, 'M', 25, 16, '55103-1006'),
 (507, 'F', 25, 0, '55405'),
 (508, 'M', 25, 12, '55418'),
 (509, 'M', 25, 2, '55125'),
 (510, 'M', 18, 12, '55109'),
 (511, 'F', 45, 4, '15232'),
 (512, 'M', 35, 0, '55379'),
 (513, 'M', 25, 0, '55119'),
 (514, 'M', 25, 2, '55113'),
 (515, 'M', 25, 1, '55406'),
 (516, 'F', 56, 14, '55033'),
 (517, 'F', 25, 14, '55408'),
 (518, 'F', 35, 12, '75240'),
 (519, 'F', 35, 14, '55038'),
 (520, 'F', 35, 20, '55104'),
 (521, 'M', 56, 7, '55105'),
 (522, 'M', 25, 12, '55124'),
 (523, 'M', 50, 7, '55105'),
 (524, 'M', 18, 0, '91320'),
 (525, 'M', 35, 6, '19027'),
 (526, 'M', 45, 17, '94806'),
 (527, 'F', 25, 2, '11201'),
 (528, 'F', 18, 17, '83843'),
 (529, 'M', 35, 12, '92009'),
 (530, 'M', 25, 2, '10019'),
 (531, 'F', 18, 14, '22206'),
 (532, 'M', 25, 7, '94301'),
 (533, 'M', 25, 12, '27514'),
 (534, 'M', 25, 15, '55902'),
 (535, 'M', 35, 6, '95370'),
 (536, 'M', 25, 20, '01267'),
 (537, 'M', 45, 14, '07704'),
 (538, 'M', 56, 16, '95407'),
 (539, 'M', 25, 2, '55103'),
 (540, 'M', 18, 1, '15213'),
 (541, 'F', 18, 4, '5849574'),
 (542, 'M', 18, 4, '78705'),
 (543, 'M', 25, 5, '55057'),
 (544, 'M', 35, 12, '94538'),
 (545, 'M', 35, 17, '01890'),
 (546, 'F', 25, 0, '37211'),
 (547, 'M', 35, 12, '76109'),
 (548, 'F', 35, 16, '96860'),
 (549, 'M', 25, 6, '53217'),
 (550, 'M', 45, 8, '21559'),
 (551, 'M', 35, 20, '55116'),
 (552, 'M', 50, 18, '23456'),
 (553, 'M', 25, 2, '94131'),
 (554, 'M', 25, 12, '94086'),
 (555, 'M', 18, 4, '53213'),
 (556, 'F', 25, 9, '37221'),
 (557, 'M', 56, 1, '30030'),
 (558, 'M', 35, 20, '55108'),
 (559, 'F', 25, 7, '60422'),
 (560, 'M', 45, 15, '81335'),
 (561, 'F', 18, 14, '64060'),
 (562, 'M', 35, 20, '48083'),
 (563, 'M', 25, 4, '53703'),
 (564, 'M', 45, 1, '49419'),
 (565, 'M', 25, 16, '45242'),
 (566, 'M', 25, 17, '92122'),
 (567, 'M', 35, 20, '52570-9634'),
 (568, 'F', 50, 17, '19716'),
 (569, 'F', 18, 4, '97339'),
 (570, 'M', 25, 4, '33314'),
 (571, 'M', 50, 5, '95401'),
 (572, 'M', 18, 4, '61801'),
 (573, 'F', 35, 2, '98119'),
 (574, 'M', 25, 19, '90214'),
 (575, 'M', 25, 12, '92130'),
 (576, 'F', 45, 15, '20910'),
 (577, 'M', 35, 0, '02115'),
 (578, 'M', 18, 17, '90064'),
 (579, 'M', 25, 5, '32839'),
 (580, 'M', 1, 10, '08534'),
 (581, 'M', 50, 14, '73543'),
 (582, 'M', 18, 4, '67042'),
 (583, 'F', 25, 0, '48067'),
 (584, 'F', 25, 0, '94403'),
 (585, 'M', 18, 1, '53703'),
 (586, 'M', 35, 14, '53092'),
 (587, 'M', 25, 20, '92649'),
 (588, 'F', 25, 11, '23220'),
 (589, 'M', 18, 2, '90210'),
 (590, 'F', 35, 6, '98032'),
 (591, 'M', 25, 0, '76201'),
 (592, 'M', 18, 0, '92103'),
 (593, 'F', 50, 1, '91711'),
 (594, 'F', 56, 13, '60076'),
 (595, 'M', 25, 7, '10019'),
 (596, 'F', 25, 1, '01950'),
 (597, 'M', 35, 12, '80206'),
 (598, 'M', 35, 7, '95476'),
 (599, 'M', 50, 6, '53711'),
 (600, 'M', 35, 17, '66209'),
 (601, 'F', 18, 20, '06320'),
 (602, 'F', 56, 6, '14612'),
 (603, 'F', 25, 6, '32256'),
 (604, 'M', 45, 17, '32256'),
 (605, 'F', 18, 4, '44425'),
 (606, 'F', 1, 10, '49507'),
 (607, 'M', 25, 0, '43614'),
 (608, 'M', 18, 4, '18011'),
 (609, 'M', 25, 7, '10012'),
 (610, 'M', 25, 4, '77025'),
 (611, 'M', 35, 0, '20715'),
 (612, 'M', 50, 7, '95020'),
 (613, 'M', 35, 20, '10562'),
 (614, 'M', 35, 1, '90024'),
 (615, 'M', 50, 17, '32951'),
 (616, 'M', 25, 7, '94115'),
 (617, 'F', 25, 7, '92117'),
 (618, 'M', 25, 0, '74105'),
 (619, 'F', 18, 1, '94706'),
 (620, 'M', 18, 0, '13210'),
 (621, 'M', 18, 4, '93560'),
 (622, 'M', 25, 0, '92612'),
 (623, 'M', 25, 17, '60555'),
 (624, 'M', 25, 1, '75207'),
 (625, 'F', 35, 12, '44106'),
 (626, 'M', 18, 4, '77005'),
 (627, 'M', 50, 2, '97210'),
 (628, 'F', 35, 0, '20715'),
 (629, 'F', 1, 10, '48154'),
 (630, 'F', 35, 14, '80525'),
 (631, 'M', 35, 17, '28601'),
 (632, 'M', 45, 17, '07649'),
 (633, 'M', 25, 17, '94131'),
 (634, 'F', 1, 10, '49512'),
 (635, 'M', 56, 17, '33785'),
 (636, 'M', 18, 20, '92055'),
 (637, 'M', 35, 12, '97132'),
 (638, 'M', 25, 6, '77584'),
 (639, 'M', 45, 17, '85202'),
 (640, 'M', 18, 4, '47406'),
 (641, 'F', 35, 0, '55116'),
 (642, 'F', 35, 1, '78155'),
 (643, 'M', 25, 2, '23188'),
 (644, 'M', 25, 20, '93704'),
 (645, 'M', 35, 20, '11215'),
 (646, 'M', 35, 7, '08505'),
 (647, 'M', 35, 12, '85224'),
 (648, 'F', 25, 12, '94131'),
 (649, 'M', 25, 4, '80526'),
 (650, 'M', 25, 17, '49445'),
 (651, 'M', 35, 7, '20895'),
 (652, 'M', 18, 20, '12222'),
 (653, 'M', 56, 13, '92660'),
 (654, 'M', 50, 7, '75023'),
 (655, 'F', 25, 2, '92629'),
 (656, 'F', 45, 16, '92106'),
 (657, 'F', 50, 13, '34691'),
 (658, 'F', 25, 0, '10021'),
 (659, 'F', 25, 0, '28134'),
 (660, 'M', 45, 16, '70507'),
 (661, 'M', 45, 1, '13114'),
 (662, 'M', 18, 4, '99163'),
 (663, 'F', 25, 7, '12345'),
 (664, 'M', 35, 18, '74601'),
 (665, 'M', 18, 2, '13317'),
 (666, 'F', 18, 0, '08540'),
 (667, 'M', 25, 18, '98438'),
 (668, 'F', 25, 3, '22042'),
 (669, 'M', 25, 17, '30307'),
 (670, 'M', 25, 12, '30303'),
 (671, 'M', 18, 4, '61761'),
 (672, 'M', 35, 7, '46845'),
 (673, 'M', 25, 20, '10023'),
 (674, 'M', 25, 17, '22042'),
 (675, 'M', 25, 20, '02048'),
 (676, 'M', 18, 16, '55129'),
 (677, 'M', 50, 2, '94122'),
 (678, 'M', 25, 0, '34952'),
 (679, 'M', 35, 16, '29681'),
 (680, 'M', 25, 12, '37013'),
 (681, 'M', 35, 7, '30501'),
 (682, 'M', 25, 4, '27510'),

O podríamos obtener el género del primer usuario con:

In [6]:
resultados[0][1]

'F'

Algo muy util es obtener la lista de los nombres de las columnas de la tabla consultada, para eso se hacer uso del atributo:

`mi_cursor.description`

In [7]:
cursor.description

(('user_id', None, None, None, None, None, None),
 ('gender', None, None, None, None, None, None),
 ('age', None, None, None, None, None, None),
 ('occupation', None, None, None, None, None, None),
 ('cp', None, None, None, None, None, None))

y aplicando listas de compresión se puede obtener la lista deseada:

In [8]:
columnas = [x[0] for x in  cursor.description]
columnas

['user_id', 'gender', 'age', 'occupation', 'cp']

Afortunadamente `pandas` puede recibir justamente `listas` de `tuplas` como ingredientes para construir `DataFrames`. Sólo hace falta indicarle el nombre de las columnas. Los nombres de las columnas están especificados en el [archivo Readme.md](../../Datasets/MovieLens/Readme.md) que venía incluido con el dataset:

Así que ahora se crea el dataframe usando la forma:

`pd.DataFrame(-lista de registros-,
    columns=-lista de nombres de columnas-)`

In [9]:
df = pd.DataFrame(resultados, columns=columnas)

df.head()

   user_id gender  age  occupation     cp
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

Otra manera de realizar esta operación de una manera más compacta es utilizando la siguiente función de Pandas:

`pd.read_sql(-consulta sql-, -variable de conexión a la BD-)`

así que vamos a obtener justo el mismo dataframe y lu guardaremos en la viable `df_1`:

In [10]:
df_1 = pd.read_sql(sql, conn)

df_1.head()

   user_id gender  age  occupation     cp
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

Sería una buena idea convertir la columna `user_id` en índice para no tener información redundante usando:

`dataframe.set_index(-columna-, drop=True)`

y el resultado lo guardamos en la variable `df_2`:

In [11]:
df_2 = df_1.set_index('user_id', drop=True)

df_2.head(3)

        gender  age  occupation     cp
user_id
1            F    1          10  48067
2            M   56          16  70072
3            M   25          15  55117

¡Listo! Vamos a guardar nuestros `DataFrames` en el archivo `users.csv` para que no haga falta volver a extraerlos de la base de datos. Ya podemos decirle adiós a nuestro fiel MySQL. ¡Chao, bellisimo!

In [12]:
df_2.to_csv("users.csv")

Ahora hagamos lo mismo para la tabla `occupations`, obtengamos todos los registros, examinemos, obtengamos los nombres de las columnas, creemos el dataframe, reasignemos índices en caso de ser necesario y guardemos el resultado en el archivo `occupations.csv`

In [13]:
df_3 = pd.read_sql("SELECT * FROM occupations", conn)
df_4 = df_3.set_index('occupation_id', drop=True)
#df_4.head()
df_4.to_csv("occupations.csv")

Haaa y no olvides cerrar tu índice y tu conexión:

In [14]:
cursor.close()
conn.close()

---
---

## Reto 2: Convertir tablas en MySQL a `DataFrames` de `pandas`

### 1. Objetivos:
    - Solicitar todos los datos de las tablas que están almacenadas en nuestra base de datos, convertirlos a `DataFrames` y guardarlos.
    
---
    
### 2. Desarrollo:

#### a) Tablas a `DataFrames`

Ya que tenemos nuestra conexión funcionando adecuadamente, vamos a utilizarla para realizar consultas a las base de datos y construir una base de datos local. Tu Reto consiste en los siguientes pasos:

1. Vuelve a establecer la conexión a la base de datos
2. Usando el comando `SELECT * FROM nombre_de_tabla`, realiza consultas a cada una de las 5 tablas que existen en la base de datos.
3. Crea un `DataFrame` por cada tabla que obtuviste. Para asignarle los nombres de las columnas correctamente, revisa el archivo [Readme.md](../../Datasets/MovieLens/Readme.md) donde está contenida toda esa información.
4. Asegúrate de que el índice sea adecuado en cada `DataFrame`. En los casos en los que haya datos redundantes, convierte una de las columnas en índice.
5. Si lo deseas ordena las columnas de la manera en la que mejor te parezca.
6. Guarda tus `DataFrames` en formato .csv para utilizarlos en los siguientes Retos.

> **NOTA IMPORTANTE**: La tabla movies es un poco complicada porque contiene muchos signos distintos. Tanto en la columna de nombre de película como la de género, encontramos signos como `,`, `:`, `.`, `|`. Esto hace un poco complicado el almacenamiento y lectura de este archivo. Si elijes guardar este archivo como un .csv separado por comas (`,`), a la hora de leerlo de regreso, `pandas` puede confundirse y pensar que el título de una película que contiene comas constituye dos columnas. Por esta razón, te recomiendo que la tabla `movies` la guardes agregando un separador poco convencional como `sep='$'`. De esta manera será muchísimo más fácil leer tu archivo de regreso usando ese separador.

In [15]:
bd = "movielens.sqlite3"
conn = sqlite3.connect(bd)

Compara con tus compañeros y revisa con la experta para que todos estén seguros de que tienen sus `DataFrames` estructurados de la manera correcta y que sus archivos .csv fueron creados exitosamente. Vamos a utilizar estos archivos en los Retos siguientes, así que es muy importante que tus datos estén estructurados adecuadamente.

In [16]:
sql = 'SELECT * FROM ratings'
df_ratings = pd.read_sql(sql, conn)
df_ratings = df_ratings.set_index(keys=["user_id", "movie_id"], drop=True)
df_ratings.to_csv("ratings.csv")

In [17]:
sql = 'SELECT * FROM age_ranges'
df_age_ranges = pd.read_sql(sql, conn)
df_age_ranges = df_age_ranges.set_index('age_id', drop=True)
df_age_ranges.to_csv("age_ranges.csv")

In [18]:
sql = 'SELECT * FROM movies'
df_movies = pd.read_sql(sql, conn)
df_movies = df_movies.set_index('movie_id', drop=True)
df_movies.to_csv("movies.csv", sep='#')

In [19]:
conn.close()