## Ejemplo 1: Casting

### 1. Objetivos:
    - Aprender a usar `astype`
    - Aprender a lidiar con errores usando `to_numeric`
    - Aprender a convertir `strings` e `ints` a `datetime`
 
---
    
### 2. Desarrollo:

In [18]:
import pandas as pd

Vamos a trabajar con el conjunto de datos `new_york_times_bestsellers-dirty.csv` que está en la carpeta `DataFrames`, sería conveniente revisar el contenido del archivo antes de importarlo como un `DataFrame` y observa como existe una columna que puede ser usada como índice, así que ahora leeremos el archivo usando la función `read_csv()` de la siguiente forma:

`pd.read_csv(-nombre de archivo-, index_col=-número de columna que se usará como índice-)`

en este caso es la columna `0`:

In [19]:
df = pd.read_csv("../../Datasets/new_york_times_bestsellers-dirty.csv", index_col = 0)

df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

Tenemos aquí un dataset donde no todos los tipos de datos han sido deducidos correctamente, así que primero vamos a obtener los tipos de datos asignados por Pandas para cada conlumna con:

`dataframe.dtypes`

In [20]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

Específicamente, tenemos dos columnas con fechas (`bestsellers_date.numberLong` y `published_date.numberLong`)  que tienen tipos `object` e `int64`. También tenemos una columna `rank.numberInt` que no tiene el tipo de dato adecuado.

Podemos usar el método `astype` para pasarle a nuestro `DataFrame` un `diccionario` de conversión. Por ejemplo, vamos a convertir nuestras dos columnas de fechas usando un `diccionario` de conversión. El tipo de dato que usamos para manejar fechas es el llamado `datetime`. Este tipo de dato nos permite manipular fechas y horarios muy eficientemente.

In [21]:
diccionario_de_conversion = {
    "bestsellers_date.numberLong":"datetime64[ns]",
    "published_date.numberLong":"datetime64[ns]",
}

Bueno, hagamos una disertación sobre como funcionan las fechas en Python, primero para usar fechas hay que hacer uso del módulo `datetime` (Pandas lo usa en automático), luego a partir de este módulo existen los tipos de datos `datetime`, `date` y `time` para manejar fechas-hora, fechas y horas en Python.

Por ejemplo, vamos a crear tres variables, con la fecha-hora, la fecha y la hora actual:

In [22]:
import datetime

hoy = datetime.datetime.today()
fecha = datetime.date.today()
hora = hoy.time()

print(hoy, type(hoy))
print(fecha, type(fecha))
print(hora, type(hora))

2022-02-01 07:41:56.762874 <class 'datetime.datetime'>
2022-02-01 <class 'datetime.date'>
07:41:56.762874 <class 'datetime.time'>

Y también podemos acceder a los atributos de cada uno de estos tipos de datos como son **año**, **mes**, **día**, **hora**, **minuto**, **segundo** entre otros, vamos a imprimir lo siguiente:

- Año y hora usando la variable `hoy`
- La fecha en formato México usando la variable `fecha` y una `f-string`
- La hora con horas, minutos y segundos usando la variable `hora` con la función `hora.strftime(-formato-)`

In [23]:
print(hoy.year, hoy.hour)
print(f"{fecha.day}-{fecha.month}-{fecha.year}") # día mes año (4 dígitos)
print(hora.strftime("%H:%M:%S"))

2022 7
1-2-2022
07:41:56

Entonces, regresando a nuestro dataframe, aplicamos el diccionario de conversión usando la forma:

`dataframe.astype(-diccionario-)`

In [24]:
df_1 = df.astype(diccionario_de_conversion)

df_1.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,1970-01-01 00:20:12.883200,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,1970-01-01 00:20:12.883200,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,1970-01-01 00:20:12.883200,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24,1970-01-01 00:20:12.883200,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24,1970-01-01 00:20:12.883200,7,4,3,26.95

Se examinan nuevamente los tipos de las columnas con `df.dtypes`:

In [25]:
df_1.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                         object
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

Como puedes ver, nuestras columnas han sido transformadas. Pero parece que hay un problema, puesto que hay muchísima diferencia de años entre la columna `bestsellers_date` y la columna `published_date`. Esto se debe a que `published_date` está en formato 'milisegundos desde La Época (la medianoche UTC del 1 de enero de 1970)' y `pandas` asume por default que estamos lidiando con nanosegundos.

Vamos a resolverlo de dos formas, la matemática (no entrar en pánico) y la forma **pandesca**, para la primera hay que saber que en unidades de medida existe los segundos, milisegundos (o la milesima parte), los microsegundos (o la millonésima parte) y los nanosegundos (o la mil millonésima parte), otra forma de verlo es que la siguiente:

- 1 seg = 1 x 1000 milisegundos
- 1 seg = 1 x 1000 000 microsegundos
- 1 seg = 1 x 1000 000 000 nanosegundos

así que si queremos pasar de milisegundos a nanosegundos hay que multiplicar por un millón (1 000 000) la columna de `published_date` y luego se aplica la función `df.astype()`:

In [26]:
df_2 = df.copy()
df_2["published_date.numberLong"] = df_2["published_date.numberLong"] *1_000_000

df_2.astype(diccionario_de_conversion).head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95

Genial las fechas ya están mucho mejor, ahora la forma usando **Pandas** es por medio de la función `pd.to_datetime` en la forma:

`pd.to_datatime(-serie-, unit="ns")`

- `-serie-` es la columna del dataframe a convertir
- `unit="ns"` indicamos las unidades de nuestros datos, en este caso usaremos ms = milisegundos

In [27]:
pd.to_datetime(df["published_date.numberLong"], unit="ms")

0      2008-06-08
1      2008-06-08
2      2008-06-08
3      2008-06-08
5      2008-06-08
          ...
3027   2013-05-05
3028   2013-05-05
3029   2013-05-05
3030   2013-05-05
3031   2013-05-05
Name: published_date.numberLong, Length: 2266, dtype: datetime64[ns]

Ahora remplacemos los valores de la columna `published_date` con las nuevas fechas:

In [28]:
df_1["published_date.numberLong"] = pd.to_datetime(df["published_date.numberLong"], unit="ms")

df_1.head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95

Muy bien, las fechas ya son manejables por Python ahora, vamos a corroborar los tipos en el dataframe usando `df.dtypes`:

In [29]:
df_1.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                         object
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

La columna `rank.numberInt` aparece como **object**, pero contiene datos de tipo entero, así que vamos a realizar la conversión usando `astype` en la forma:

`dataframe[-columna-].astype(-nuevo tipo de dato-)`

In [30]:
df_1["rank.numberInt"].astype(int)

ValueError: invalid literal for int() with base 10: 'No Rank'

No podemos hacerlo porque hay unos valores tipo `string` que no pueden ser convertidos a `int`. Para esto usamos el método `to_numeric`, que nos permite indicar que cuando un error sea encontrado, debe de ser sustituido por un `NaN` en la forma:

`pd.to_numeric(-columna-, errors="coerce")`

In [56]:
pd.to_numeric(df_1["rank.numberInt"], errors="coerce", downcast="integer")
#pd.to_numeric(df_1["rank.numberInt"], errors="coerce")

0        2
1        3
2        4
3        5
5        7
        ..
3027     8
3028     9
3029    11
3030    13
3031    14
Name: rank.numberInt, Length: 2046, dtype: int32

In [32]:
pd.to_numeric?

Signature: pd.to_numeric(arg, errors='raise', downcast=None)
Docstring:
Convert argument to a numeric type.

The default return dtype is `float64` or `int64`
depending on the data supplied. Use the `downcast` parameter
to obtain other dtypes.

Please note that precision loss may occur if really large numbers
are passed in. Due to the internal limitations of `ndarray`, if
numbers smaller than `-9223372036854775808` (np.iinfo(np.int64).min)
or larger than `18446744073709551615` (np.iinfo(np.uint64).max) are
passed in, it is very likely they will be converted to float so that
they can stored in an `ndarray`. These warnings apply similarly to
`Series` since it internally leverages `ndarray`.

Parameters
----------
arg : scalar, list, tuple, 1-d array, or Series
    Argument to be converted.
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception.
    - If 'coerce', then invalid parsing will be set as NaN.
    - If 'ignore', then invalid parsing will return the input.
downcast : {'integer', 'signed', 'unsigned', 'float'}, default None
    If not None, and if the data has been successfully cast to a
    numerical dtype (or if the data was numeric to begin with),
    downcast that resulting data to the smallest numerical dtype
    possible according to the following rules:

    - 'integer' or 'signed': smallest signed int dtype (min.: np.int8)
    - 'unsigned': smallest unsigned int dtype (min.: np.uint8)
    - 'float': smallest float dtype (min.: np.float32)

    As this behaviour is separate from the core conversion to
    numeric values, any errors raised during the downcasting
    will be surfaced regardless of the value of the 'errors' input.

    In addition, downcasting will only occur if the size
    of the resulting data's dtype is strictly larger than
    the dtype it is to be cast to, so if none of the dtypes
    checked satisfy that specification, no downcasting will be
    performed on the data.

Returns
-------
ret
    Numeric if parsing succeeded.
    Return type depends on input.  Series if Series, otherwise ndarray.

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_datetime : Convert argument to datetime.
to_timedelta : Convert argument to timedelta.
numpy.ndarray.astype : Cast a numpy array to a specified type.
DataFrame.convert_dtypes : Convert dtypes.

Examples
--------
Take separate series and convert to numeric, coercing when told to

>>> s = pd.Series(['1.0', '2', -3])
>>> pd.to_numeric(s)
0    1.0
1    2.0
2   -3.0
dtype: float64
>>> pd.to_numeric(s, downcast='float')
0    1.0
1    2.0
2   -3.0
dtype: float32
>>> pd.to_numeric(s, downcast='signed')
0    1
1    2
2   -3
dtype: int8
>>> s = pd.Series(['apple', '1.0', '2', -3])
>>> pd.to_numeric(s, errors='ignore')
0    apple
1      1.0
2        2
3       -3
dtype: object
>>> pd.to_numeric(s, errors='coerce')
0    NaN
1    1.0
2    2.0
3   -3.0
dtype: float64

Downcasting of nullable integer and floating dtypes is supported:

>>> s = pd.Series([1, 2, 3], dtype="Int64")
>>> pd.to_numeric(s, downcast="integer")
0    1
1    2
2    3
dtype: Int8
>>> s = pd.Series([1.0, 2.1, 3.0], dtype="Float64")
>>> pd.to_numeric(s, downcast="float")
0    1.0
1    2.1
2    3.0
dtype: Float32
File:      c:\users\hborda\miniconda3\lib\site-packages\pandas\core\tools\numeric.py
Type:      function

Vamos a reasignar el resultado al `DataFrame` original:

In [49]:
df_1['rank.numberInt'] = pd.to_numeric(df_1["rank.numberInt"],errors="coerce")

df_1.head(3)

C:\Users\hborda\AppData\Local\Temp/ipykernel_11252/3277275009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1['rank.numberInt'] = pd.to_numeric(df_1["rank.numberInt"],errors="coerce")

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95

In [37]:
df_1["rank.numberInt"].unique()

array([ 2.,  3.,  4.,  5.,  7.,  8.,  9., 10., 12., 13., 14., nan,  6.,
       11., 15.,  1., 16.])

Ahora, para convertilo a tipo `int` podemos eliminar los `NaNs` con `df.dropna(axis=0)` y luego usar `-columna-.astype(int)`:

In [54]:
df_1 = df_1.dropna()
df_1["rank.numberInt"] = df_1["rank.numberInt"].astype(int)

df_1.head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95

Y se examina nuevamente los tipos de cada columna con `df.dtypes`:

In [55]:
df_1.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                          int32
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

In [52]:
df_2 = df.copy()
df_2["rank.numberInt"] = df_2["rank.numberInt"].astype(int, errors="ignore")
df_2["rank.numberInt"].unique()

array(['2', '3', '4', '5', '7', '8', '9', '10', '12', '13', '14',
       'No Rank', '6', '11', '15', '1', '16'], dtype=object)

In [53]:
df_2.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

¡Listo!

---
---

## Reto 1: Casting

### 1. Objetivos:
    - Aplicar diversas técnicas de casting a un dataset nuevo
 
---
    
### 2. Desarrollo:

#### a) Transformando tipos de datos

Vamos a trabajar con una versión un poco modificada del dataset que creaste en la sesión pasada. Si bien recuerdas, al final de la sesión pasada automatizamos un programa de Python para obtener un `DataFrame` con todos los objetos que orbitaron cerca de la Tierra en Enero y Febrero de 1995. Para construir este dataset, usamos el API gratuito que ofrece la [NASA](https://api.nasa.gov/).

Me tomé la libertad de modificar un poco dicho dataset para que pudiera ser utilizado más efectivamente para los fines de esta sesión. Encontrarás la versión modificada en la ruta '../../Datasets/near_earth_objects-jan_feb_1995-dirty.csv'. Todos los Retos de esta sesión los harás con ese conjunto de datos.

Te recomiendo que al finalizar cada reto guardes la nueva versión modificada de tu dataset bajo un nombre que indique el reto realizado (por ejemplo, 'near_earth_objects-jan_feb_1995-reto_1.csv'), para que puedas ir trabajando incrementalmente a través de los retos y no tengas que repetir procesos. Puedes guardar conjuntos de datos en formato `csv` usando el método `DataFrame.to_csv('ruta')`.

Tu primer Reto consistirá en seguir los siguientes pasos:

1. Lee el dataset y crea un `DataFrame` con él.

In [61]:
df_reto_1 = pd.read_csv("../../Datasets/near_earth_objects-jan_feb_1995-dirty.csv")

df_reto_1.head(3)

,Unnamed: 0,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
0,0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,789467580000,earth,16.142864,58114.3086669449,Near-Earth-asteroid-orbits-similar-to-that-o...
1,1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,789491340000,earth,12.351044,44463.7577343496,Near-Earth-asteroid-orbits-which-cross-the-E...
2,2,3516633-(2010 HA),False,44.111820,98.637028,1995-01-07,789446820000,earth,6.220435,Unknown,Near-Earth-asteroid-orbits-similar-to-that-o...

2. Realiza una pequeña exploración para familiarizarte con él.

In [62]:
df_reto_1.dtypes

Unnamed: 0                                            int64
id_name                                              object
is_potentially_hazardous_asteroid                      bool
estimated_diameter.meters.estimated_diameter_min    float64
estimated_diameter.meters.estimated_diameter_max    float64
close_approach_date                                  object
epoch_date_close_approach                             int64
orbiting_body                                        object
relative_velocity.kilometers_per_second             float64
relative_velocity.kilometers_per_hour                object
orbit_class_description                              object
dtype: object

In [67]:
df_reto_1["relative_velocity.kilometers_per_hour"].unique()

array([ 58114.30866694,  44463.75773435,             nan,  80923.01502134,
        17995.28835531,  26874.32168181, 115778.71030144,  27326.56017358,
        19610.72115022,  77778.71568237,  27490.80359755,  27993.54297666,
        49547.34859894,  23981.99577752,  34577.5563856 ,  25273.97969693,
        51246.3300727 ,  18895.09208679,  18726.90288921,  18895.37308791,
        55630.97153834,  51380.17489586,  91251.16015393,  35316.67435192,
        36558.32969453,  62635.38039018,  70215.67533004,  19738.75852394,
        59476.98991994,  65210.34609484,  53921.73158576,  23047.78323752,
        41688.85074752,  54406.32626419,  10711.92621856,  25740.05087732,
        27415.01241334,  84238.99953794,  40178.64887676,  20811.14791277,
        29337.45294041,  41940.35054361,  36466.78721587,  49320.16603125,
        38911.86020598,  35426.99239448,  35426.99402572,  38911.83825064,
        40225.94819134,  37364.47997937, 115661.3859992 ,  42014.37010234,
        35607.78914088,  58569.67233227,  37166.58710825,  23378.51674924,
        56835.05373639,  65721.79660011,  44861.36704366,  38645.30356765,
        61783.23362061,  67617.16503967,  77469.63253408,  41434.13202509,
        45367.87052789,  77469.6177664 ,  68124.82310425,  13679.40729756,
        57197.47052438,  87439.88843327,  53140.64515842,  79011.82543443,
        87439.88824436,  69035.11507882,  89841.10069772,  39489.30726556,
        80791.36748228, 100473.13040671,  91829.0483906 ,  44016.62748048,
        27966.74451373,  65156.98202135,  42955.79659881,  51325.79700853,
       102896.72007656,  59359.84681249,  94487.1543497 ,  43074.82224597,
        57791.34653714,  57528.75648942,  31783.04012336,  47876.5012897 ,
        49069.90939347,  94445.89105598,  67017.52234966,  57455.23166974,
        32911.74379512,  46768.8107395 ,  62043.95369185,  50759.60536916,
        27117.78534731,  60783.84532847,  42026.92750995,  87918.61449133,
        62545.62334056,  80546.05785574,  62188.60127003,  43626.63577422,
        37468.21356125,  54932.6498112 ,  27086.84133945,  53545.45225828,
        94148.15855033,  16938.72064643,  65362.05810715,  50978.78899253,
       105880.9900978 ,  33317.83224871,  15238.0464608 ,  30957.99304289,
        26511.30482934,  74667.82060791,  13192.99898045,  57477.64366362,
        31238.81722904,  22866.39789922,  64207.96962617,  62221.87229474,
        69983.98701182,  93740.86694038,  65046.39679436,  46557.92971155,
        23389.47811707,  66833.91638526,  66833.91512041, 132937.77922644,
        37135.03321839, 104082.11028763,  44828.4901596 ,  25802.39158692,
       132937.77982044,  58061.18891978, 123019.92534019,  62697.78561797,
        55599.28650822,  48425.73382099,  65946.51768084,  36811.71059636,
        96267.86574643,  36667.25301023,  16367.10363811, 104751.26876729,
       104751.23509658,  25101.27512935,  73461.89929644,  70818.09490773,
        85926.08263726,  47943.79676689,  33693.49233855,  41967.97334267,
        57088.29598824,  21882.59212885,  67994.80465502,  78434.23593023,
        62536.48256057,  48543.15514541,  89404.70081875,  30205.79044729,
        52625.26335627,  24285.61544863,  23840.47246942,  92785.55636571,
        61402.74990563, 145898.74210843,  67309.58463447, 126122.41569304,
        59506.29254192,  33658.42487943,  27748.18990012,  56626.72065792,
        57475.29638022,  18747.31548323,  23086.58574377,  35723.5744716 ,
        59321.44268402,  23086.58573048,  15243.7484451 ,  13527.74478661,
        80795.01957378,  50352.20580304, 142579.18049291,  90760.63891343,
        58693.42002193,  53775.77147387,  22479.72553131,  47814.27402568,
        89404.61004077,  27089.33757674,  78254.36123818,  58111.07519704,
        23639.97493944,   9494.97259431, 115632.62186399,  58125.49641945,
       108367.30501135,  18851.09455311,  37538.65265697, 106853.90617086,
       106855.68436359,  85962.20274257,  37908.75909742,  50073.3210483 ,
        55511.9503689 ,  83291.94834393,  67815.791878  ,  26176.04766039,
        59577.92130959,  10185.73232193, 102787.29146417,  56162.42573908,
        71104.08601041,   8440.26742406,  35979.50676356,  62839.00491401,
       111647.73172119,  38338.12844919,  21990.68270795,  40382.45336308,
        32598.77282071,  27272.34014655,  84276.10736323,  11120.41414063,
        28510.28656902,   7791.75308295,  72069.27106009,  30696.6813997 ,
        16759.72293609,  28511.76170822,  70103.77662381,  60233.23926612,
        52517.66971142, 101669.5740652 ,  58678.64154381,  37662.9357159 ,
        19687.52305157, 122154.1596294 ,  48188.44153139,  64354.87942537,
        48480.01800293,  63774.85739042,  48326.33752078,  30399.75096364,
        60553.50827032,  40546.31156341,  73677.39191696,  50946.24436051,
        41527.80844482,  26409.95660836,  57617.61274252,  57859.12731545,
        38418.57491108,  44208.61049996, 107847.01863911,  12984.12916168,
        61791.94266397,  17186.41452712,  15639.20879478,  56514.11811346,
        35504.84534807,  69203.39564743,  25790.93301434,  12815.86667746,
       102308.2455938 ,  63233.66755052,  37985.47118011,  36105.88470393,
        38197.888755  ,  74530.32705163,  64610.14351667, 135396.60895108,
       103717.39552562,  53984.29251777, 100575.08901507,   2453.17202264,
        65140.02172214,  62423.79705515,  48369.33020229,  78231.44378955,
        67948.90723739,  78619.82267784,  65839.06747355,  62423.79669462,
        23622.32853577,  37844.85219248,  19006.0916797 ,  19581.39599048,
        88507.73585041,  55709.13981229,  58249.410194  ,  54382.10463946,
        73235.42351682, 107036.73305785])

3. Convierte la columna `relative_velocity.kilometers_per_hour` de `object` a `float64` y elimina `NaNs`:

In [66]:
df_reto_1["relative_velocity.kilometers_per_hour"] = pd.to_numeric(df_reto_1["relative_velocity.kilometers_per_hour"], errors="coerce")
df_reto_1.dropna()

df_reto_1.dtypes

Unnamed: 0                                            int64
id_name                                              object
is_potentially_hazardous_asteroid                      bool
estimated_diameter.meters.estimated_diameter_min    float64
estimated_diameter.meters.estimated_diameter_max    float64
close_approach_date                                  object
epoch_date_close_approach                             int64
orbiting_body                                        object
relative_velocity.kilometers_per_second             float64
relative_velocity.kilometers_per_hour               float64
orbit_class_description                              object
dtype: object

4. Convierte la columna `close_approach_date` a tipo de dato `datetime64[ms]` usando el método `astype` y un diccionario de conversión.

In [ ]:
...

In [ ]:
...

df_reto_1.dtypes

5. Convierte la columna `epoch_date_close_approach` a tipo de dato `datetime64[ms]` usando el método `to_datetime`:

In [ ]:
...

df_reto_1.dtypes

6. Reinicia los índices con `df.reset_index(drop=True)`:

In [ ]:
...

df_reto_1.head()

7. Guarda tu resultado en un archivo .csv.

In [ ]:
...

En este caso, la celda de validación sólo verifica que los tipos de datos de las columnas de tu DataFrame sean las correctas, si tienes alguna duda de tu resultado pregunta a quién más confianza le tengas!!

In [ ]:
def checar_conversiones(df):
    
    import pandas as pd
    import pandas.api.types as ptypes
    
    assert ptypes.is_float_dtype(df['relative_velocity.kilometers_per_hour']), 'Cuidado... La columna `relative_velocity.kilometers_per_hour` no es de tipo `float64`'
    assert ptypes.is_datetime64_any_dtype(df['close_approach_date']), 'Cuidado... La columna `close_approach_date` no es de tipo `datetime64[ns]`'
    assert ptypes.is_datetime64_any_dtype(df['epoch_date_close_approach']), 'Cuidado... La columna `epoch_date_close_approach` no es de tipo `datetime64[ns]'
    
    print(f'¡Éxito! ¡Todas tus conversiones fueron realizadas adecuadamente!')

checar_conversiones(df_reto_1)